html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333333;
}
body, .contact-input, .contact-textarea  {
    font-family: 'Poppins', sans-serif;
}
.contact-page {
    min-height: 100vh;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
}
.contact-form-section {
    display: flex;
    width: 800px;
    padding: 30px;
    margin: 0 auto;
}
.contact-image {
    transform: rotate(90deg);
    width: 100vh;
    margin: 0 0 0 60px ;
}
.contact-form-heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.contact-form-heading span {
    color: #007000;
}
.contact-form-intro {
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.contact-input {
    display: block;
    width: 300px;
    margin: 5px auto 15px;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 1rem;
    border: 2px solid #333333;
}
.contact-textarea {
    max-width: 300px;
    margin: 5px auto 15px;
    padding: 16px 20px;
    border: 2px solid #333333;
    border-radius: 20px;
}
.contact-input::-webkit-input-placeholder, .contact-textarea::-webkit-input-placeholder {
    color: #6A6E6E;
}
.contact-submit-button {
    border: 2px solid #333333;
    padding: 8px 20px;
    border-radius: 40px;
    margin: 10px auto 0;
    width: 200px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.contact-submit-button:hover {
    background-color: #dddddd;
}

input:focus, textarea:focus {
    outline: none;
    border: 5px solid #007000;
}

input:required, textarea:required {
    border: 3px solid red;
}

button:focus {
    outline: none;
    border: 5px solid #007000;
    background-color: #007000;
    color: white;
}

/* 
Challenge: Identify all accessibility issues using all your newly aquired knowledge.

Write them down here:
- no doctype declaration
- missing lang attribute in the root element
- missing important meta tags: viewport, charset
- placeholder text is not accessible
- missing alt text for image
- missing labels for inputs
- button not descriptive enough
- missing semantic elements: main
- use of fixed units for font-size
*/